<div class="row">
  <div class="col-6" (click)="onNameClicked()">Name: {{name}}</div>
  <div class="col-6">Age: {{age}}</div>
  <mat-slide-toggle [checked]="isPresent" (change)="onPresentChange($event)"></mat-slide-toggle>
</div>

<div *ngIf="!isPresent">The student is missing</div>
